@model List<PMS.Entities.ProductDTO>

@{
   // ViewBag.Title = "ShowAll";
    Layout = "~/Views/Shared/_MyProductLayout.cshtml";
}

@section scripts{

    <script>
        $(function () {
            $(".editbutton").click(function () {
                var pid = $(this).attr("pid");
                $("#ProductID").val(pid);
            });
        });
        function showMsg(){
        debugger;
            if(confirm("Are You sure You Want To Delete Product"))
                return true;
            else
                return false;
        }

        function validate()
        {
            if($("#txtComment").val()=="")
                alert("ee");
            else
                alert("ff");
        return false;
        }

         </script>

}




<span>@TempData["Msg"]</span>

    @*<table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductID</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.CreatedOn</td>
                    <td>@item.CreatedBy</td>
                    <td><img src="/UploadedFiles/@item.PictureName" style="width:100px;height:100px;" /></td>

                    @if (WebPrac.Security.SessionManager.User.IsAdmin)
                    {

                        <td><a href="/Product/Edit/@item.ProductID">Edit</a></td>
                        <td><a href="/Product/Delete/@item.ProductID">Delete</a></td>

                        <td><input type="submit" value="Edit" class="editbutton" pid="@item.ProductID" /> </td>
                    }
                </tr>
            }
        </table>*@


    <div >
        @foreach (var item in Model)
        {

            <form action='@Url.Content("~/Product/Comment")' method="get">
                <input type="hidden" name="ProductID" id="ProductID" value="@item.ProductID" />
                <div class="prodbox">
                    <div style="float:left">
                        <img src="/UploadedFiles/@item.PictureName" style="width:100px;height:100px;" />
                    </div>
                    <div style="float:left">
                        <span class="pid">Id: @item.ProductID </span><br />
                        Name: @item.Name <br />
                        Price: @item.Price <br />
                        Created On @item.CreatedOn <b>By</b> @item.createrName
                    </div>
                    <div style="clear:both">

                        @if (WebPrac.Security.SessionManager.User.IsAdmin || (WebPrac.Security.SessionManager.IsValidUser && item.CreatedBy == WebPrac.Security.SessionManager.User.UserID))
                        {
                            <a href='@Url.Content("~/Product/Edit/" + @item.ProductID)' class="btn" style="width:auto;margin:unset;">Edit</a>
                            <a href='@Url.Content("~/Product/Delete/" + @item.ProductID)' onclick='return showMsg();' class="btn" style="width:auto;background-color:red;margin:unset;">Delete</a>
                            @*<input type="submit" value="Edit" class="editbutton" pid="@item.ProductID" />*@
                        }
                    </div>
                    <div class="commentarea">
                        <table><tr><td>
                        <textarea class="txtComment" id="txtComment" name="txtComment" rows="1" cols="50" placeholder="Comments"></textarea>
                        </td><td>
                        <input type="submit" class="btn" id="btnAddComment" value="Add" style="height:27px;width:100%;padding:unset;background-color:mediumblue;" />
                        </td></tr></table> 
                   </div>
                    <br />
                    <div class="comments">
                        @foreach (var comment in item.Comments)
                        {
                            <div class="comment">
                                <div class="picture">
                                    <img src="/userpics/@comment.PictureName" style="width:50px;height:50px;" />
                                </div>
                                <div>
                                    <span class="name"><a href="CommentUser/@comment.UserID" target="_blank">@comment.UserName</a></span>
                                    <span class="comment-text">@comment.CommentText</span> <br />
                                    <span class="comment-text">@comment.CommentOn</span>
                                </div>
                            </div>
                            <br />
                            <div style="clear:both"></div>
                        }
                    </div>
                </div>
            </form> }
</div>


