@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/MyStyleSheet.css" rel="stylesheet" />
    <title>_MyProductLayout</title>
    <style>
        body{
    	background-color:#e0ffff;
        }

        .prodbox {
            padding: 5px;
            margin: 5px;
            width: 400px;
            background-color: lightgray;
        }

        .comments .comment .picture {
            float: left;
        }

            .comments .comment .picture img {
                width: 30px;
                height: 30px;
            }

        .comments .comment .name {
            color: red;
        }

        .comments .comment .comment-text {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
        }
    </style>
    <script>
        window.BasePath = '@Url.Content("~")';
    </script>

    @Styles.Render("~/Content/css")

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/moment.js"></script>

    <script src="~/Scripts/MyAppGlobal.js"></script>

    @RenderSection("scripts", false)

</head>
<body>
    <div class="menubase" style="height:6%;position:fixed;left:0px;top:0px;">
        <div >
            @if (WebPrac.Security.SessionManager.User.IsAdmin)
            {
                <a class="btn" href="/Home/Admin">Home</a>
                <a class="btn" href="/Product/ShowAll">Show All</a>
                <a class="btn" href="/Product2/New">New Product</a>
            }
            else
            {
                <a class="btn" href="/Home/NormalUser">Home</a>
                <a class="btn" href="/Product/ShowAll">Show All</a>
                <a class="btn" href="/User/SignUp">Edit Profile</a>
            }
  
            <a class="btn" href="/User/Logout">Logout</a>

         </div>
        
        
    </div>
    <h1> Welcome @WebPrac.Security.SessionManager.User.Name</h1>
    <span style="color:red">@TempData["Message"]</span>
    <div>
        @RenderBody()
    </div>
</body>
</html>
