@model PMS.Entities.UserDTO
@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
 }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHome</title>
    
</head>
<body>

    <div>
        <h1>Welcome <fone size="7" style="color:forestgreen">@Model.Name </fone></h1>


        <div style="position:absolute;top:80px;left:697px;border:5px solid black;">
            <img src="~/userpics/@Model.PictureName"  style="width:250px; height:270px;" />
         </div>
            
                <input style="position:absolute;top:380px;left:697px;width:250px;" class="btn" type="button" name="btnEdit" id="btnEdit" value="Edit Profile" onclick="@("window.location.href='" + @Url.Action("SignUp", "User") + "'");" />
        <input style="position:absolute;top:430px;left:697px;width:250px;" class="btn" type="button" name="btnLogout" id="btnLogout" value="Logout" onclick="@("window.location.href='" + @Url.Action("Logout", "User") + "'");" />   
     </div>
</body>
</html>
