@model PMS.Entities.UserDTO
@{
    Layout = "~/Views/Shared/_HeaderLayout.cshtml";
 }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHome</title>
    
</head>
<body>

    <div>
        <br>
@if (Session["uidFromComment"] == null)
{
        <h1><b><fone size="8">Welcome @Model.Name </fone></b></h1>
}
        <div style="position:absolute;top:10%;left:5%;">
        <br><font size="7"><b>Name  &nbsp;</b></font><font size="7">&nbsp;&nbsp;&nbsp;&nbsp; @Model.Name</font><br><br>
        <br><font size="7"><b>Email  &nbsp;</b><br></font><font size="7"> @Model.Email</font><br><br>
        </div>

        <div style="position:absolute;top:80px;left:697px;border:5px solid black;">
            <img src="~/userpics/@Model.PictureName"  style="width:250px; height:270px;" />
         </div>
            @if (Session["uidFromComment"] == null) {
                       
                <input style="position:absolute;top:380px;left:697px;width:250px;" class="btn" type="button" name="btnEdit" id="btnEdit" value="Edit Profile" onclick="@("window.location.href='" + @Url.Action ( "SignUp", "User" ) + "'");" />
                <input style="position:absolute;top:430px;left:697px;width:250px;" class="btn" type="button" name="btnLogout" id="btnLogout" value="Logout" onclick="@("window.location.href='" + @Url.Action ( "Logout", "User" ) + "'");" />   
                }
        @{Session["uidFromComment"] = null; }            
    </div>
</body>
</html>
